.homePageContainer {
  display: flex;
  justify-content: center;
}

.homePageAlbumContainer {
  background-color: white;
  width: 80%;
  margin: 40px auto;
  padding: 15px;
}

.albums {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.album {
  width: 350px;
  height: auto;
  margin: 10px;
}

.albumCover {
  max-width: 100%;
  height: auto;
}