.homePageContainer {
  display: flex;
  justify-content: center;
  margin: 0px 0px;
  flex-direction: column;
  align-items: center;
}

.profileContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  top: 0;
  background-position: center center;
  background-size: cover;
  min-height: 45vh;
  min-width: 100%;
}

.profileWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 30px;
  width: 80%;
  gap: 30px;;
}

.profilePicture {
  width: 120px;
  height: 120px;
  border-radius: 100px;
}

.profileName {
  font-size: 30px;
  color: white;
}

.albumNavContainer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 20px 0px;
}

.backIcon {
  border: none;
  background-color: transparent;
  color: grey;
  font-size: 20px;
  padding: 0;
}

.addAlbum {
  border: none;
  background-color: transparent;
  color: grey;
  font-size: 20px;
  padding: 0;
}

.myAlbumAlbumContainer {
  width: 100%;
  /* margin: 50px auto; */
  /* padding: 15px; */
}

.albums {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.noAlbum {
  color: grey;
}

.album {
  width: 100vw;
  height: auto;
}

@media screen and (min-width: 768px) {
  .album {
    width: calc(45%);
  }
  .myAlbumAlbumContainer {
    width: 80%;
  }
  .albumCover {
    max-width: 100%;
    height: auto
  }
}

@media screen and (min-width: 1300px) {
  .album {
    width: calc(30%);
    /* width: 350px; */
  }
  .myAlbumAlbumContainer {
    width: 80%;
  }
  .albumCover {
    max-width: 100%;
    height: auto
  }
}
@media screen and (max-width: 767px) {
  .albumCover {
    min-width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

/* .albumCover {
  max-width: 100%;
  height: auto;
} */

.albumCover:hover {
  opacity: 0.8;
}

.albumInfo {
  display: flex;
  justify-content: center;
  margin: 20px;
  color: grey;
}