.selectedImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.selectedImageContainer {

}

.SelectedImageButtonContainer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 20px 0px;
}

.selectedImageBackIcon, .selectedImageDeleteImage {
  border: none;
  background-color: transparent;
  color: grey;
  font-size: 20px;
  padding: 0;
}

.selectedImageBackIcon:hover, .selectedImageDeleteImage:hover {
  color: rgb(159, 159, 159);
  cursor: pointer;
}

.selectedImageImageContainer {
  display: flex;
}

.selectedImageImage {
  max-width: 100vw;
  max-height: 75vh;
}