.selectedImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.imageContainer {

}

.SelectedImageButtonContainer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 20px 0px;
}

.backIcon, .deleteImage {
  border: none;
  background-color: transparent;
  color: grey;
  font-size: 20px;
  padding: 0;
}

.backIcon:hover, .deleteImage:hover {
  color: rgb(159, 159, 159);
  cursor: pointer;
}

.imageContainer {
  display: flex;
}

.image {
  max-width: 100vw;
  max-height: 75vh;
}