/******************** Landing Page Navigation CSS ********************/
.landingNavContainer {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.3);
  height: 65px;
  width: 100%;
  z-index: 100;
}

.landingLogoImage {
  width: 30px;
  margin-left: 20px;
  margin-right: 10px;
}

.landingNavul {
  display: inline-block;
  padding: 0;
  margin-right: 20px;
  width: 100%;
}

.landingNavli {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.landingLogoText {
  text-decoration: none;
  color: white;
  font-size: 29px;
  font-weight: bold;
}

.landingLoginSignup {
  display: flex;
  align-items: center;
  width: 175px;
  justify-content: space-around;
  color: white;
}

.landingLogin {
  text-decoration: none;
}

.landingLogin:hover {
  color: rgb(167, 167, 167);
  cursor: pointer;
}

.landingSignup {
  color: black;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 4px;
  padding: 5px 19px;
  background-color: white;
  font-size: 16px;
  font-weight: 600;
}

.landingSignup:hover {
  color: grey;
  cursor: pointer;
}

.landingSignup:active {
  border: 2px solid grey;
}



/******************** Homepage Navigation CSS ********************/
.homepageNavContainer {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.8);
  height: 50px;
  width: 100%;
  z-index: 100;
}

.homepageNavContainer2 {
  display: flex;
  align-items: center;
  width: 80%;
}

.homepageLogoImage {
  width: 30px;
  margin-right: 10px;
}

.homepageNavul {
  display: inline-block;
  padding: 0;
  /* margin-right: 20px; */
  width: 100%;
}

.homepageNavli {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.homepageNavLeft {
  display: flex;
  align-items: center;
  gap: 35px;
  color: white;
}

.homepageLogoText {
  text-decoration: none;
  font-size: 29px;
  font-weight: bold;
  white-space: nowrap;
}

.you,
.homepagePortfolioIcon,
.homepageLinkedinIcon,
.homepageGithubIcon {
  text-decoration: none;
  font-size: 15px;
}

.you:hover,
.homepagePortfolioIcon:hover,
.homepageLinkedinIcon:hover,
.homepageGithubIcon:hover {
  color: rgb(170, 170, 170);
}

.homepageNavRight {
  display: flex;
  justify-content: center;
  gap: 25px;
  color: white;
}

.homepageNavSearchBarContainer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 220px;
}

.homepageSearchIcon {
  position: relative;
  top: 9px;
  left: 12px;
  position: absolute;
  color: grey;
}

.homepageNavSearchBar {
  height: 100%;
  width: 100%;
  background-color: #FFFFFFCC;
  text-indent: 35px;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  outline: none;
}

.homepageNavSearchBar:focus {
  background-color: white;
}

#searchInput {
  border-radius: 3px 3px 0px 0px;
}

.homepageNavSearchBarResultContainer {
  display: flex;
	flex-direction: column;
	position: absolute;
  width: 220px;
  height: auto;
  top: 33px;
  left: 0px;
  background-color: white;
  border-radius: 0px 0px 3px 3px;
  box-shadow: 0px 0px 30px 1px rgb(0, 0, 0, 0.1);
	clip-path: inset(0px -40px -40px -40px);
}

.albumUsernameAnchor {
  display: flex;
  flex-direction: column;
  gap: 3px;
  border-top: 1px solid rgb(211, 211, 211);
  padding: 10px 35px;
}

.albumUsernameAnchor:hover {
  background-color: rgb(244, 244, 244);
  cursor: pointer;
}

.homepageNavSearchBarResultUsername {
  color: black;
}

.homepageNavSearchBarResultTitle {
  color: grey;
}





/* .homepageLinkedinIcon, .homepageGithubIcon, .homepagePortfolioIcon {
  display: flex;
  align-items: center;
  font-size: 30px;
}


.homepagePortfolioIcon:hover, .homepageLinkedinIcon:hover, .homepageGithubIcon:hover {
  color: rgb(181, 181, 181);
  cursor: pointer;
} */

@media screen and (max-width: 1020px) {
  .you, 
  .homepageLinkedinIcon, 
  .homepageGithubIcon, 
  .homepagePortfolioIcon {
    display: none;
  }

  .homepageNavSearchBarContainer {
    max-width: 430px;
    min-width: 220px;
  }
}