.profileButton {
  border: none;
  background-color: transparent;
  padding: 0px;
  color: white;
  font-size: 28px;
  border-radius: 100px;
}

.profileButtonImg {
  width: 30px;
  border-radius: 50px;
}

.profileButton:hover {
  opacity: 0.8;
  cursor: pointer;
}

.profileDropdownContainer {
  position: absolute;
  display: block;
  top: 60px;
}

.profileDropdown {
  display: flex;
  flex-direction: column;
  /* gap: 15px; */
  position: relative;
  border: 1px solid rgb(176, 176, 176);
  border-radius: 5px;
  background-color: white;
  color: black;
  list-style-type: none;
  width: 300px;
  right: 270px;
}

.profileDropdown:before {
  content: "";
  position: absolute;
  border: solid transparent;
  border-bottom-color: white;
  border-width: 11px;
  margin-left: -10px;
  top: -21px;
  right: 5px;
  z-index: 1;
} 

.profileDropdown:after {
    content: "";
    position: absolute;
    right: 6px;
    top: -21px;
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 10px;
    border-bottom-color: rgb(176, 176, 176);
    z-index: 0;
}

.profileDropdownUser {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-bottom: 1px solid rgb(211, 211, 211);
  padding: 20px;
}

.profileDropdownName {
  /* margin: 20px 0px 0px 20px; */
  font-weight: 600;
  font-size: 18px;
}

.profileDropdownName a{
  font-weight: 600;
  font-size: 18px;
}

.profileDropdownName a:hover{
  text-decoration: underline;
}

.profileDropdownEmail {
  color: #B3B3B3;
}

.profileDropdownLinkContainer {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
}

.profileDropdownLink{
  padding: 5px 20px 5px 20px;
}

.profileDropdownLink:hover {
  background-color: rgb(244, 244, 244);
  cursor: pointer;
}